@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat-Extra-Bold";
    src: url("../fonts/Montserrat-Extra-Bold.woff") format("woff");
}

@font-face {
    font-family: "Mont-Heavy-Demo";
    src: url("../fonts/Mont-Heavy-Demo.woff") format("woff");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.woff") format("woff");
}